body{
    text-align: center;
    background:transparent;
    background-image:url("bimg.jpg");
    backdrop-filter:blur(3px);
}

.footer{
    height: 20px;
    width: 100%;
    bottom: 0%;
    background-color: #ddd;
    text-align: right;
}
.header{
    background-color:#00FFFF;
}


.btn{
    height: 160px;
    width: 160px;
    border: 3px solid black;
    border-radius: 15%;
    margin: 2.5rem;
}

.btn_container{
    display: flex;
    justify-content: center;
}

.red{
    background-image:url("oneee.jpg");
    background-size:cover;
    no-repeat;
    cursor:pointer;
    background-color: #aa3e3e;
}

.blue{
    background-image:url("threee.jpg");
    background-size:cover;
    no-repeat;
    cursor:pointer;        
    background-color:  #204b5b;
}

.voilet{
    background-image:url("twoo.jpg");
    background-size:cover;
    no-repeat;
    cursor:pointer;
    background-color: #581f58;
}

.gold{
    background-image:url("fourr.jpg");
    background-size:cover;
    no-repeat;
    cursor:pointer;
    background-color:  #938922;
}

/*.gameFlash{
    background-color: #fff;
}*/

.userFlash{
    background-color: rgb(160, 246, 227);
}

.errorRed{
    background-color: red;
}
.gameFlash{
    border:3px solid #00FFFF;
}


.classbtnremove{
    display: none;
}
.startbtn{
    height: 30px;
    width: 50px;
    border: 3px solid black;
    border-radius: 15%;
    margin: 2.5rem;
    cursor:pointer;
}
